HLC/practica XML/act1xsd.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="portes">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="recepcion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="producto" type="xs:string"/>
              <xs:element name="cantidad" type="xs:positiveInteger"/>
              <xs:element name="codigoreceptor" type="codigoReceptorType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="entrega">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transportista">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="T1"/>
                    <xs:enumeration value="T2"/>
                    <xs:enumeration value="T3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="distancia">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:positiveInteger">
                      <xs:attribute name="unidad" type="xs:string"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="coste" type="xs:positiveInteger"/>
            </xs:sequence>
            <xs:attribute name="receptor" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="codigoReceptorType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-[A-Z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
