HLC/practica XML/act2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definición del elemento raíz -->
  <xs:element name="elecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="descripcion"/>
        <xs:element ref="datos"/>
        <xs:element ref="resultados"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definición del elemento 'descripcion' -->
  <xs:element name="descripcion" type="xs:string"/>

  <!-- Definición del elemento 'datos' -->
  <xs:element name="datos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fecha"/>
        <xs:element ref="censado"/>
        <xs:element ref="abstenciones"/>
        <xs:element ref="blancos"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definición de los elementos dentro de 'datos' -->
  <xs:element name="fecha" type="xs:date"/>
  <xs:element name="censado" type="xs:integer"/>
  <xs:element name="abstenciones" type="xs:integer"/>
  <xs:element name="blancos" type="xs:integer"/>

  <!-- Definición del elemento 'resultados' -->
  <xs:element name="resultados">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="partido"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definición del elemento 'partido' -->
  <xs:element name="partido">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="votos"/>
        <xs:element ref="representantes" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="local" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <!-- Definición de los elementos dentro de 'partido' -->
  <xs:element name="nombre" type="xs:string"/>
  <xs:element name="votos" type="xs:integer"/>
  <xs:element name="representantes" type="xs:string"/>

</xs:schema>
